* {
    margin: 0;
    padding: 0;
}

body {
    width: 1400px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.nav-list {
    list-style-type: none;
    text-align: center;
}

.nav-list-item {
    display: inline-block;
    margin: 32px 72px 32px 0;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

.text-container {
    color: #000;
    margin: 82px auto 0;
    width: 850px;
    /* border-bottom: 1px solid black; */
}

.main-title {
    color: #000;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.text-container-content {
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    margin-top: 40px;
}

.color-text {
    color:#04959E;
}

.main-list {
    margin: 20px 0 0 20px;
}

.main-list-item {
    color: #161616;
    font-size: 18px;
    font-weight: 400;
}

.button {
    background-color: #04959E;
    padding: 10px 24px;
    margin: 50px auto 100px;
    font-size: 18px;
    font-weight: 400;
    display: block;
    color: #FFF;
}

/* .button-decoration {
    text-decoration: none;


} */

/* .border-botom {
    margin-top: 100px;
    border-bottom: 1px solid black;
} */

.footer-container {
    border-top: 1px solid #000;
}

.footer-content {
    margin: 20px 0;
    color: #161616;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}